// "custom-black": "#32292f",
// "custom-turq": "#99e1d9",
// "custom-gray": "#f0f7f4",
// "custom-blue": "#70abaf",
// "custom-umber": "#705d56",
// "grad-1": "#99e1d9",
// "grad-2": "#88c2bd",
// "grad-3": "#77a4a0",
// "grad-4": "#668584",
// "grad-5": "#546668",
// "grad-6": "#43484b",
// "grad-7": "#32292f",
// "custom-mono-1": "#f0f7f4",
// "custom-mono-2": "#d0d5d3",
// "custom-mono-3": "#b1b2b2",
// "custom-mono-4": "#919092",
// "custom-mono-5": "#716e71",
// "custom-mono-6": "#524b50",
// "custom-mono-7": "#32292f",

:root {
  --text: #32292F; //custom-black
  --textContrast: #b1b2b2;
  --backgroundContrast: #1A202C; // gray-900 tailwind
  --background: #F0F7F4; // custom-gray
  // --primary: #70abaF; // custom-blue
  --primary: #99E1D9; // custom-turq
  --secondary: #70abaF; // custom-turq
  --layoutBorder: #d0d5d3; // "custom-mono-2"
}

.perma-dark {
  color: #32292F;
}

.text {
  color: var(--text);
  transition: color 500ms linear;
}

.background {
  background-color: var(--background);
  transition: background-color 500ms linear;
}

.background-contrast {
  background-color: var(--backgroundContrast);
  transition: background-color 500ms linear;
}

.background-primary {
  background-color: var(--primary);
  transition: background-color 500ms linear;
}

.background-secondary {
  background-color: var(--secondary);
  transition: background-color 500ms linear;
}

.text-primary {
  color: var(--primary);
  transition: color 500ms linear;
}

.text-secondary {
  color: var(--secondary);
  transition: color 500ms linear;
}

.text-contrast {
  color: var(--textContrast);
  transition: color 500ms linear;
}

.background-text {
  background-color: var(--text);
  transition: background-color 500ms linear;
}

.mobile-nav-dark-toggle {
  background-color: var(--textContrast);
  transition: color 500ms linear;
}

.border-text-contrast {
  border-color: var(--textContrast);
  transition: color 500ms linear;
}

.toggle__dot {
  top: -.25rem;
  left: -.25rem;
  transition: all 500ms ease-in-out;
  transition-property: color, transform, background-color;
}

input:checked~.toggle__dot {
  transform: translateX(100%);
  background-color: var(--text);
}

.border-color {
  border-color: var(--layoutBorder);
  transition: color 500ms linear;
}

.latest-project-background {
  background-color: var(--layoutBorder);
  transition: background-color 500ms linear;
}

.latest-blog-background {
  background-color: var(--textContrast);
  transition: background-color 500ms linear;
}

.contact-field {
  background-color: var(--layoutBorder);
  border-color: var(--primary);
  transition: background-color 500ms linear, border-color 500ms linear;
}

.contact-field:focus {
  background-color: var(--background);
  border-color: var(--secondary);
  transition: background-color 500ms linear, border-color 500ms linear;
}