.top-fold {
  height: 95vh;

  background: hsla(173, 55, 74, 1);
  background: linear-gradient(0deg, hsla(173, 55, 74, 1) 0%, hsla(184, 28, 56, 0.9) 100%);
  // background: -moz-linear-gradient(0deg, hsla(173, 55, 74, 1) 0%, hsla(184, 28, 56, 0.9) 100%);
  // background: -webkit-linear-gradient(0deg, hsla(173, 55, 74, 1) 0%, hsla(184, 28, 56, 0.9) 100%);
  filter: "progid: DXImageTransform.Microsoft.gradient(startColorstr="#99E1D9", endColorstr="#70ABAF", GradientType=1)";

  div {
    // @extend .container;

    @screen sm {}

    @screen md {}

    h1 {
      font-family: "Megrim", "Courier", sans-serif;
      font-size: 2rem;
      @apply leading-tight text-custom-gray;

      @screen md {
        font-size: 2.6rem;
      }
    }

    h2 {
      font-family: "Raleway", "Times New Roman", serif;
      font-size: 2.5rem;

      @screen md {
        font-size: 3rem;
      }
    }

    h4 {
      @apply max-w-lg mb-8;
      font-size: 1.5rem;

      @screen md {
        font-size: 2rem;
      }
    }

    ul {
      @apply flex;

      li a svg {
        @apply w-16 h-16 pr-8;
      }
    }
  }
}

.latest-project,
.latest-blog {
  @apply px-4;

  @screen md {
    @apply px-0 grid grid-cols-6 w-full;

    div {
      @apply col-start-2 col-end-6;
    }
  }
}