.nav {
  background-color: var(--primary);
  // transition: background-color 500ms linear;

  // box-shadow: 0 4px 6px -1px rgba(var(--blackAndWhite), 0.1),
  //   0 2px 4px -1px rgba(var(--blackAndWhite), 0.06);

  // position: relative;

  @screen md {
    display: flex;
    width: 280px;
    top: 7%;
    right: 62%;
    left: auto;
    margin-bottom: auto;
    background-color: transparent;
    box-shadow: none;
  }
  @screen lg {
    right: 65%;
    width: 300px;
  }
  @screen xl {
    right: 76%;
    width: 300px;
  }

  .site-title {
    min-height: 3.7rem;

    @screen md {
      min-height: 0;
      @apply my-6;
    }
  }

  .nav-inner {
    min-height: 3.7rem;
    color: var(--text);

    @screen md {
      min-height: 0;
      // background-color: var(--primary);
      // transition: background-color 500ms linear;
      // box-shadow: 0 4px 6px -1px rgba(var(--blackAndWhite), 0.1),
      //   0 2px 4px -1px rgba(var(--blackAndWhite), 0.06);
      // border: 2px solid var(--text);

      // box-shadow: -10px 10px 0px 0px var(--text);
      // border: 1px solid var(--text);
    }
  }
  .side-nav {
    @screen md {
      @apply px-4 py-4;
      width: calc(100% - 1.5rem);
      margin-bottom: 3px;
      // border: 1px solid black;
      box-shadow: inset 0 4px 6px -1px rgba(var(--blackAndWhite), 0.1),
        inset 0 2px 4px -1px rgba(var(--blackAndWhite), 0.06);
    }
    .nav-section-header {
      position: relative;
      font-family: "Raleway", "Times New Roman", serif;
      font-weight: lighter;
      font-size: 1.4rem;
      z-index: 1;
    }
    .nav-section-header:before {
      display: block;
      position: absolute;
      content: "";
      width: 13px;
      height: 13px;
      z-index: -1;
      left: -3px;
      bottom: -2px;
      transition: width 400ms ease-in-out;
      background: var(--primary);
    }
    .nav-section-header:hover:before {
      width: calc(100% + 9px);
    }

    .nav-section-header.active:before {
      width: calc(100% + 9px);
    }
    .post {
      font-size: 0.8rem;
      font-family: "Raleway", "Times New Roman", serif;
      font-weight: lighter;
    }
  }
}

// ----------------------------------------------- Mobile Nav button

button:focus {
  outline: none;
}

.hamburger {
  z-index: 151;

  &:hover,
  &.is-active:hover {
    opacity: 1;
  }

  .hamburger-inner:before,
  .hamburger-inner:after,
  .hamburger-inner {
    background: var(--text);
  }

  &.is-active {
    color: var(--textContrast);

    .hamburger-inner:before,
    .hamburger-inner:after,
    .hamburger-inner {
      background-color: var(--textContrast);
      --bg-opacity: 1;
    }
  }
}

.z-69 {
  z-index: 69;
}
// ---------------------------------------------------------------- mobile nav drawer
/// to be applied to the body liberally when mobile nav opens
.nav-open {
  margin: 0;
  height: 100vh;
  overflow: hidden;
}

.post {
  position: relative;
  margin-left: 2rem;
}

.post:before {
  position: absolute;
  content: "";
  width: 5px;
  height: 5px;
  left: -1rem;
  top: 0.6rem;
  margin: auto 0;
  background: var(--primary);
}

.nav-space {
  // background: var(--primary);
  padding-top: 3.7rem;
  @screen md {
    padding-top: 0;
  }
}
