.home-nav {
  // font-family: "DarkerGrotesque", "Times New Roman", serif;
  font-family: "Raleway",
    "Times New Roman",
    serif;
  // font-family: "Megrim", "Courier", sans-serif;
  font-weight: bold;


  @apply absolute top-0 right-0 mr-2 mt-2;

  @screen md {
    @apply fixed inset-y-0 right-0 mt-0;
    margin-right: 55px;
    top: 10%;
  }


  .links {

    li {
      @apply my-3 text-xl lowercase text-right;

      transform: rotate(-15deg);
      transition: transform 200ms cubic-bezier(0.84, 0.08, 0.73, 0.99);

    }

    li:hover {
      @apply transition-transform;
      transform: scale(1.2) rotate(-15deg) translate(-8px, -5px);
    }

    li:after {
      content: "";
      transform: rotate(15deg);
      position: absolute;
      bottom: -11px;
      left: 120%;
      right: -164%;
      border-bottom: 1px solid black;
      z-index: -1;
    }
  }
}

.top-nav {


  .top-nav-content {
    min-height: 5rem
  }



  .nav-title {
    font-family: "Megrim", "Courier", sans-serif;
    font-size: 2.7rem;
    @apply leading-none font-bold absolute;

    // @screen md {}

    // font-weight: bold;
  }

  ul {
    @apply lowercase;
    font-size: 1.1rem;

    li {
      @screen md {
        @apply px-3;
        font-family: "Inconsolata", "Times New Roman", serif;
        font-weight: bold;

      }
    }

    // li:hover {
    //   // border: 1px dotted black;
    // }
  }
}

button:focus {
  outline: none
}

.hamburger {
  z-index: 151;

  &:hover,
  &.is-active:hover {
    opacity: 1;
  }

  .hamburger-inner:before,
  .hamburger-inner:after,
  .hamburger-inner {
    @apply bg-custom-black;

  }

  &.is-active {
    color: white;

    .hamburger-inner:before,
    .hamburger-inner:after,
    .hamburger-inner {
      background-color: white;
      --bg-opacity: 1;
    }
  }
}

.z-69 {
  z-index: 69;
}

/// to be applied to the body liberally when mobile nav opens
.nav-open {
  margin: 0;
  height: 100vh;
  overflow: hidden
}

.post {
  position: relative;
  margin-left: 2rem;
}

.post:before {
  position: absolute;
  content: "";
  width: 5px;
  height: 5px;
  left: -1rem;
  top: 0.6rem;
  margin: auto 0;
  @apply bg-custom-turq;
}