/* The emerging W3C standard
   that is currently Firefox-only */
* {
  scrollbar-width: thin;
  scrollbar-color: #32292f#70abaf;
}

/* Works on Chrome/Edge/Safari */
*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: #70abaf;
}

*::-webkit-scrollbar-thumb {
  background-color: #f0f7f4;
  border-radius: 4px;
  border: 3px solid #70abaf;
}

::selection {
  background: #99e1d9;
  color: #32292f;
  /* WebKit/Blink Browsers */
}

::-moz-selection {
  color: #32292f;
  background: #99e1d9;
  /* Gecko Browsers */
}