/* The emerging W3C standard
   that is currently Firefox-only */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--text) var(--primary);
}

/* Works on Chrome/Edge/Safari */
*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: var(--primary);
}

*::-webkit-scrollbar-thumb {
  background-color: var(--background);
  border-radius: 4px;
  border: 3px solid var(--primary);
}

::selection {
  background: var(--primary);
  color: var(--text);
  /* WebKit/Blink Browsers */
}

::-moz-selection {
  color: var(--text);
  background: var(--secondary);
  /* Gecko Browsers */
}