html {
  font-size: 18px;
  font-family: "Inconsolata", Helvetica, sans-serif;
  background-color: var(--background);
  color: var(--text);
  transition: all 500ms ease-in-out;
  transition-property: background-color, color;
}

h1 {
  font-family: "Raleway", "Times New Roman", serif;
  font-size: 3.5rem;

  @screen md {
    font-size: 4rem;
  }
}

h2 {
  font-family: "Inconsolata", "Times New Roman", serif;
  font-size: 3rem;
  font-weight: bold;

  @screen md {
    font-size: 3rem;
  }
}

h3 {
  font-family: "Inconsolata", "Times New Roman", serif;
  font-size: 2.4rem;
  font-weight: bold;

  @screen md {
    font-size: 2.4rem;
  }
}

h4 {
  font-family: "Inconsolata", "Times New Roman", serif;
  font-size: 2.3rem;
  @apply leading-tight;

  @screen md {
    font-size: 2.3rem;
  }
}

h5 {
  font-family: "Inconsolata", "Times New Roman", serif;
  font-size: 1.6rem;

  @apply leading-tight;

  @screen md {
    font-size: 1.6rem;
  }
}

p {
  font-family: "Inconsolata", "Times New Roman", serif;
  font-size: 1rem;

  @screen md {
    font-size: 1rem;
  }
}

blockquote {
  font-family: "Inconsolata", "Times New Roman", serif;
  font-weight: normal;
  font-style: italic;
}

.font-zilla {
  font-family: "ZillaSlabHighlight", "Times New Roman", serif;
  line-height: 1;
  color: var(--primary);
  background-color: var(--text)
}

.section-header {
  position: relative;
  width: fit-content;
  z-index: 1;
}

.section-header:before {

  display: block;
  position: absolute;
  content: "";
  width: 30px;
  height: 30px;
  z-index: -1;
  left: -10px;
  bottom: -2px;
  transition: width 200ms linear;
  background: var(--primary);
}

.section-header:hover:before {
  width: calc(100% + 10px);
}

.lead {
  font-size: 1.2rem;
}

.side {
  margin-left: 1.2rem;
  position: relative;
  height: max-content;
}

.side:before {
  display: block;
  position: absolute;
  content: "SIDE";
  font-size: 1rem;
  transform: rotate(-90deg);
  z-index: -1;
  left: -1.3rem;
  bottom: 1rem;

  @screen md {
    left: -1.3rem;
    font-size: 1rem;
    bottom: 1rem;
  }
}

.focus\:shadow-outline:focus {
  box-shadow: 0 0 0 3px rgb(104, 183, 195);
}