.scale-hover-1 {
  transition: transform 200ms cubic-bezier(0.84, 0.08, 0.73, 0.99);
}

.scale-hover-1:hover {
  transform: scale(1.01);
}

.scale-hover-2 {
  transition: transform 200ms cubic-bezier(0.84, 0.08, 0.73, 0.99);
  // transition: transform 200ms ease-in;
}

.scale-hover-2:hover {
  transform: scale(1.05);
}

.text-shadow {
  text-shadow: -2px 2px 4px rgba(150, 150, 150, 0.42);
}

.card-hover {
  .scale-div {
    transition: transform 250ms cubic-bezier(0.84, 0.08, 0.73, 0.99);
    transition-delay: 100ms;
  }
}

.card-hover:hover {
  .scale-div {
    transform: scale(1.05);
  }
}

.bg-opactity {
  &-95 {
    --bg-opacity: 0.95;
  }
}

.upArrow {
  transition: opacity 300ms linear;
}

.changing-shadow {
  box-shadow: 0 4px 6px -1px rgba(var(--blackAndWhite), 0.1),
    0 2px 4px -1px rgba(var(--blackAndWhite), 0.06);
}

.changing-text-shadow {
  text-shadow: 1px 2px 8px rgba(var(--blackAndWhite), 0.27);
}
.sharp-drop-shadow {
  box-shadow: -10px 10px 0px 0px var(--text);
}
.custom-border {
  border: 1px solid var(--text);
}
